.typed-text-line-one {
  color: aqua;
  padding-left: 1em;
  margin-bottom: 0rem;
}

.typed-text-line-two {
  color: rgb(255, 122, 20);
  padding-left: 2em;
  margin-bottom: 0rem;
}
.typed-text-line-three {
  color: rgb(16, 253, 4);
  padding-left: 2em;
  margin-bottom: 0rem;
}

.typed-text-hidden {
  visibility: hidden;
  margin-bottom: 0rem;
}

a {
  font-family: "Courier Prime", monospace;
}

.body-visible {
  padding-left: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.body-hidden {
  visibility: hidden;
  padding-left: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: "Courier Prime", monospace;
}
