.typed-text-line-one {
  color: aqua;
  padding-left: 1em;
  margin-bottom: 0rem;
}
.typed-text-line-two {
  color: rgb(255, 122, 20);
  padding-left: 2em;
  margin-bottom: 0rem;
}
.typed-text-line-three {
  color: rgb(16, 253, 4);
  padding-left: 2em;
  margin-bottom: 0rem;
}

.typed-text-hidden {
  visibility: hidden;
  margin-bottom: 0rem;
}
