.typed-text-line-one {
  color: aqua;
  padding-left: 1em;
}
.typed-text-line-two {
  color: rgb(163, 212, 90);
  padding-left: 2em;
}
.typed-text-line-three {
  color: rgb(189, 105, 105);
  padding-left: 2em;
}
