/* GLOBAL STYLES */
* {
  margin: 0;
  font-family: "consolas", "Courier Prime", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #333;
  /* display: flex; */
}
