/* GLOBAL STYLES */
body {
  margin: 0;
  font-family: "Courier Prime", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #333;
  padding-top: 5em;
  display: flex;
}
