.typed-text-line-one {
  color: aqua;
  padding-left: 1em;
}
.typed-text-line-two {
  color: rgba(255, 68, 0, 0.705);
  padding-left: 2em;
}
.typed-text-line-three {
  color: rgba(183, 245, 90, 0.664);
  padding-left: 2em;
}
